<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" xlinkhref="assets/css/style.css" />
    <title>Registrate</title>
  </head>
  <body>
    <div class="logincontainer">
      <div class="container-fluid logincontainer">
        <div class="img-login col-md-5">
          <img class="o-img-masc" src="assets/img/mascota01.svg" />
        </div>
        <div class="containerlogin">
          <div class="containerfields">
            <form action="/action_page" class="login-form">
              <label>Nickname</label>
              <input class="o-input" type="text" placeholder="Nickname" />
              <label>Correo electronico</label>
              <input class="o-input" type="text" placeholder="Correo electronico" />
              <label>Contraseña</label>
              <input class="o-input" type="password" placeholder="contraseña" />
              <label>Confirmar Contraseña</label>
              <input class="o-input" type="password" placeholder="contraseña" />
              <button class="botoniniciar">Iniciar Sesión</button>
            </form>
            
          </div>
          NOMBRE DE LA PAGINA (placeholder)
        </div>
      </div>
    </div>
  </body>
</html>
